/.venv/
/.idea/
/data/
/device_reports/
/pdf_reports/
/pics/
/report_archive/
/results/
/test_reports/
/dist/
/build/
/logs/
/ReportGenerator.exe
/ReportGenerator.spec

/release_manager.py
/release_artifacts/
/upx.exe
/release.log
/LatesRelease_ReportGenerator.exe
/config/color_space.yaml
/config/main.yaml
/config/space.png
/config/expected_result.yaml
