/.venv/
/.idea/
/data/
/device_reports/
/pdf_reports/
/pics/
/report_archive/
/results/
/test_reports/
/dist/
/build/
/logs/
/ReportGenerator.exe
/ReportGenerator.spec

/release_manager.py
/release_artifacts/
/upx.exe
/release.log
